body {
  font-family: "ABeeZee", sans-serif;
  font-size: 1rem;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
  text-rendering: optimizeSpeed;
}
